<div class= "pt-4">
    <table class="table-auto w-full">
        <thead>
            <tr class="bg-blue-500 text-white">
                <th class="px-4 py-2"></th>
                <th class="text-black px-4 py-2">Tecnologías</th>
                <th class=" text-black px-4 py-2">Nivel de conocimiento</th>
            </tr>
        </thead>
        <tbody *ngFor="let framework of frameworks; let index = index">
            <tr class="text-center">
                <th class="px-4 py-2" scope="row">{{ index + 1 }}</th>
                <td class="px-4 py-2">{{ framework.name }}</td>
                <td class="px-4 py-2">{{ framework.knowledge }}</td>
            </tr>
        </tbody>
    </table>
</div>